In [1]:
import pandas as pd

In [8]:
data = [(1,2,3,4),
        (4,5,7,8),
        (8,10,11,12),
        (13,14,15,16)]
df = pd.DataFrame(data, 'l1 l2 l3 l4'.split(), 'c1 c2 c3 c4'.split() )
df

    c1  c2  c3  c4
l1   1   2   3   4
l2   4   5   7   8
l3   8  10  11  12
l4  13  14  15  16

In [9]:
df['c1']

l1     1
l2     4
l3     8
l4    13
Name: c1, dtype: int64

In [10]:
df[['c1','c3']]

    c1  c3
l1   1   3
l2   4   7
l3   8  11
l4  13  15

In [13]:
df[1:][['c1','c3']]

    c1  c3
l2   4   7
l3   8  11
l4  13  15

In [14]:
df.loc['l3']

c1     8
c2    10
c3    11
c4    12
Name: l3, dtype: int64

In [15]:
df.loc['l1', 'c2']

2

In [16]:
df.iloc[0,1]

2

In [ ]:
df.loc['l1', 'c2']