#Relatório de Análise IV
##Seleções e Frequências

In [3]:
import pandas as pd

In [6]:
dados = pd.read_csv('aluguel_residencial.csv', sep=';')
dados.head(10)

                 Tipo           Bairro  Quartos  ...    Valor  Condominio  IPTU
0           Quitinete       Copacabana        1  ...   1700.0       500.0  60.0
1                Casa  Jardim Botânico        2  ...   7000.0         NaN   NaN
2         Apartamento           Centro        1  ...    800.0       390.0  20.0
3         Apartamento     Higienópolis        1  ...    800.0       230.0   NaN
4         Apartamento     Vista Alegre        3  ...   1200.0         NaN   NaN
5         Apartamento         Cachambi        2  ...   1300.0       301.0  17.0
6  Casa de Condomínio  Barra da Tijuca        5  ...  22000.0         NaN   NaN
7  Casa de Condomínio            Ramos        2  ...   1000.0         NaN   NaN
8         Apartamento           Centro        1  ...   1200.0         NaN   NaN
9         Apartamento           Grajaú        2  ...   1500.0       642.0  74.0

[10 rows x 9 columns]

In [14]:
#    Selecione somente os imóveis classificados com tipo 'Apartamento'.
selecao_apartamentos = dados['Tipo'] == 'Apartamento'
apartamento = dados[selecao_apartamentos].shape[0]
apartamento

19532

In [15]:
#    Selecione os imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila'.
selecao_casas = (dados['Tipo'] == 'Casa')| (dados['Tipo'] == 'Casa de Condomínio') | (dados ['Tipo'] =='Casa de Vila')
casas = dados[selecao_casas].shape[0]
casas

2212

In [16]:
#    Selecione os imóveis com área entre 60 e 100 metros quadrados, incluindo os limites.
selecao_area = (dados['Area'] >= 60) & (dados['Area'] <= 100)
area = dados[selecao_area].shape[0]
area

8719

In [17]:
#    Selecione os imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00.
selecao_qtos_aluguel = (dados['Quartos'] >= 4) & (dados['Valor'] < 2000)
qtos_aluguel = dados[selecao_qtos_aluguel].shape[0]
qtos_aluguel

41

In [21]:
print(f"""
    Nº  de imóveis classificados com tipo Apartamento {apartamento} unidades.
    Nº  de  classificados com tipos Casa, Casa de Condomínio e Casa de Vila {casas} unidades.
    Nº  de imóveis com área entre 60 e 100 metros quadrados, incluindo os limites {area} unidades.
    Nº  de imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00 {qtos_aluguel} unidades.""")

    Nº  de imóveis classificados com tipo Apartamento 19532 unidades.
    Nº  de  classificados com tipos Casa, Casa de Condomínio e Casa de Vila 2212 unidades.
    Nº  de imóveis com área entre 60 e 100 metros quadrados, incluindo os limites 8719 unidades.
    Nº  de imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00 41 unidades.